* {
    margin: 0;
}

body {
    background-color: #eeeeee;
}

.rightpart {
    position: absolute;
    right: 0;
    margin-right: 16px;
    display: flex;
}

.rightpart ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.rightpart ul li {
    text-align: center;
    padding: 0px 5px;
    margin: 0px 5px;
}

.rightpart ul li a {
    font-size: 16px;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    font-weight: normal;
    text-decoration: none;
    color: black;
    transition: all .5s ease;
}

.rightpart ul li a:hover {
    transition: all .5s ease;
    color: blueviolet;
    text-shadow: blueviolet 5px 5px 50px, blueviolet -5px -5px 50px;
}


#front{
    background-image: url('img/about_part_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.mainText {
    padding-left: 5%;
    font-size: 60px;
    font-family: sans-serif;
    color: grey;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.leftMainText {
    padding-top: 50%;
}

.leftMainText h2 span {
    transition: 0.25s all ease-in-out;
}

.leftMainText h2 span:hover {
    color: black;
    transition: 0.25s all ease-in-out;
}
.g {
    color: blueviolet;
    transition: 0.25s all ease-in-out;
}

.g:hover {
    color: skyblue;
    text-shadow: -10px 0 0px blueviolet;
    transition: 0.25s all ease-in-out;
}

.profileImg {
    display: flex;
}

.profileImg img{
    height: 350px;
    width: 350px;
    /* float: right; */
    /* margin-right:12%; */;
    /* position: static; */
    z-index: 10;
    margin: auto;
    text-align: center;
    align-items: center;
    /* right: 0; */
    transition: 0.25s all ease-out;
    /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%); */
}

.profileImg img:hover {
    height: 360px;
    width: 360px;
    margin: auto;
    border-radius: 5px;
    box-shadow: black 5px 5px 5px, #555555 4px 4px 40px;
    transition: 0.25s all ease-in;

}

#about {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #ffd271;
}

.aboutMeTitle, .educationTitle, .skillsTitle {
    padding-left: 10%;
}

.aboutMe p, #education p, #skills p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    /* line-height: 50px; */
}

.aboutMeTitleBackground, .educationTitleBackground, .skillsTitleBackground {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    margin-top: 10vh;
    background-color: rgb(0, 0, 0);
    float: left;
    /* padding: 10px 20px; */
    width: 150px;
    height: 100px;
    /* margin-left: 15vw; */
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.aboutMeTitleBackground:after, .educationTitleBackground::after, .skillsTitleBackground::after{
    content: '';
    position: absolute;  
    width: 20px;
    height: 20px;  
    border: 1px solid black;
    top: -10px;
    left: 48%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.aboutMeTitleBackground::before, .educationTitleBackground::before, .skillsTitleBackground::before{
    content: '';
    position: absolute;
    width: 5px; 
    height: 5px;
    top: -14px;
    left: 53%;
    z-index: 5;
    border-radius: 50% 50%;
    background: black;
}

@keyframes swing {
    0% { transform: rotate(5deg); }
    100% { transform: rotate(-5deg); }
}

.aboutMeTitleBackground p, .educationTitleBackground p, .skillsTitleBackground p {
    color: white;
    text-align: center;
    padding-top: 25%;
}

.aboutMeText, .educationText, .skillsText {
    padding: 25px;
    padding-top: 35vh;
}

.aboutMeText p, .educationText p, .skillsText p {
    font-size: 20px !important;
    margin-top: 10px;
}

.downloadCV {
    display: flex;
    justify-content: center;
}

.downloadCV button {
    width: 12vw;
    font-size: 20px;
    height: 7.5vh;
    margin-top: 5%;
    background-color: #ffd271;
    text-align: center;
    /* padding: 2% 3%; */
    color: blueviolet;
    transition: all 0.5s ease;
}

.downloadCV button:hover {
    background-color: white;
    cursor: pointer;
    transition: all 0.5s ease;
}

.courseName {
    margin-bottom: 25px;
}

.technologiesImages img{
    height: 50px;
    width: 50px;
    margin: 5px 5px;
}

#experience {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: black;
}

.workExperienceTitle {
    margin-left: 30%;
}

.sectionTitleBackground {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    margin-top: 10vh;
    background-color: lightgreen;
    float: left;
    /* padding: 10px 20px; */
    width: 250px;
    height: 140px;
    /* margin-left: 15vw; */
    box-shadow: 7px 7px 10px gray;
}

.sectionTitleBackground::after {
    content: '';
    position: absolute;  
    width: 20px;
    height: 20px;  
    border: 1px solid white;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.sectionTitleBackground::before {
    content: '';
    position: absolute;
    width: 5px; 
    height: 5px;
    top: -14px;
    left: 53%;
    z-index: 5;
    border-radius: 50% 50%;
    background: white;
}

.sectionTitleBackground p{
    font-size: 35px;
    color: black;
    text-align: center;
    padding-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.workExperienceText {
    width: 80%;
    max-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    padding: 30px 0;
    justify-content: space-around;
}

.experiences {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 5% 0;
    padding: 5% 0%;
}

.companyName {
    font-size: 28px;
    color: white;
}

.positionName {
    font-size: 22px;
    color: #555555;
    margin-top: 3px;
    margin-left: 30px;
}

.duration {
    font-size: 18px;
    color: #888888;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-left: 30px;
}

.point {
    font-size: 16px;
    color: #cccccc;
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-stretch: ultra-condensed;
    font-weight: lighter;
    margin-bottom: 2px;
    margin-left: 30px;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    margin: auto;
    height: 100vh;
    background-color: lightgrey;
}

.projectsTitle {
    margin-left: 30%;
}

.projectsTitleBackground {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    margin-top: 10vh;
    background-color: coral;
    float: left;
    /* padding: 10px 20px; */
    width: 250px;
    height: 140px;
    /* margin-left: 15vw; */
    box-shadow: 7px 7px 10px gray;
}

.projectsTitleBackground::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    top: -10px;
    left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.projectsTitleBackground::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 53%;
    z-index: 5;
    border-radius: 50% 50%;
    background: black;
}

.projectsTitleBackground p {
    font-size: 35px;
    color: black;
    text-align: center;
    padding-top: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.projectsText {
    justify-content: space-evenly;
    padding-right: 10vw;
}

.level {
    font-size: 22px; 
}

.beginner, .intermediate {
    margin: 15px 25px;
}

.projectName {
    font-size: 18px;
    margin: 8px 0;
}

.projectDescription {
    font-size: 14px;
    margin: 8px 0;
}

.links {
    display: flex;
    margin: 8px 0;
}

.codeLink, .demoLink {
    margin-right: 10px;
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: coral;
    /* border-radius: 5px; */
    color: white;
    transition: ease-in-out;
    transition-duration: 0.5s;
    /* border: none; */
}

.codeLink a, .demoLink a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.codeLink:hover, .demoLink:hover {
    border: 1.5px solid white;
    transition: ease-in-out;
    transition-duration: 0.5s;
    box-shadow: 3px 3px 10px gray;
}

#contact {
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
}

.contactTitle {
    text-align: center;
}

.contactTitleBackground {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    margin-top: 10vh;
    background-color: white;
    float: left;
    width: 250px;
    height: 140px;
    box-shadow: 7px 7px 10px grey;
}

.contactTitleBackground::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border: 1px solid black;
    top: -10px;
    left: 47%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}

.contactTitleBackground::before {
    content:'';
    position: absolute;
    width: 5px;
    height: 5px;
    top: -14px;
    left: 50%;
    z-index: 5;
    border-radius: 50% 50%;
    background: black;
}

.contactTitleBackground p {
    font-size: 35px;
    color: black;
    text-align: center;
    padding-top: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contactText {
    color: black;
    position: absolute;
    margin-top: 40vh;
    /* background-color: white; */
    padding: 5vh 5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    width: 60vw;
    /* border: 10px black double; */
}

.sayHello {
    font-size: 30px;
    margin-bottom: 2vh;
}

.contactMe {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 70vh;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 40%;
    gap: 50px;
    /* color: black; */
}

.reachToMe {
    text-align: right;
}

.contactMe p {
    margin: 4% 0;
}

.contactMe p a {
    text-decoration: none;
    color: grey;
    transition: ease-in-out;
    transition-duration: 0.1s;
}

.contactMe p a:hover {
    text-decoration: none;
    color: black;
    transition: ease-in-out;
    transition-duration: 0.1s;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 90vh;
    width: 100%;
    height: 10vh;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer p {
    margin: auto;
}

.footer p a {
    text-decoration: none;
    color: white;
}